* {
	padding: 0px;
	margin: 0px;
}
.hover:hover {
	opacity: 0.8;
	text-decoration: none;
}
.hover>a:hover {
	text-decoration: none;
	color: silver;
}
.hover>a {
	color: white;
	text-decoration: none;

}

.logo_nav{
	margin-left: 9.1vw;
	height: 100%;
}
nav {}
.nav_anim {
	height: 5vh;
	background-color: #004940;
	position: fixed;
	width: 100%;
	transition: top 0.3s;
	z-index: 1;
	opacity: 0.8;
	top: 0;
}
.nav_menu>li, .nav_right_menu>li {
	display: inline;
	list-style-type: none;
	position: relative;
	top: 1vh;
	font-size: 150%;
	margin-left: 2vw;
}
.nav_menu>li>a, .nav_right_menu>li>a {
	color: white;
	text-decoration: none;
}
.nav_menu>li>a:hover, .nav_right_menu>li>a:hover {
	color: silver;
}
.nav_right_menu>li {
	margin-left: 40px;
	margin-right: 10px;
}
.nav_right_menu {
	float: right;
}